<a href="https://colab.research.google.com/github/FairozaAmira/AI_Programming_1_e/blob/master/Lesson08/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solutions for For Loops Exercises

1. By using for loops, print number 1 to 5.

In [0]:
for N in [1, 2, 3, 4, 5]:
    print(N)

1
2
3
4
5

2. Modified the code above to print number 1 to 5 in one line.

In [0]:
for N in [1,2,3,4,5]:
    print(N, end=' ')

1 2 3 4 5

3. Use range to print number 1 to 5 in one line.

In [0]:
for N in range(1,6):
    print(N, end=' ')

1 2 3 4 5

Range start by 0 at default. So, the `in range` refers to `in range(start, end, step)`

4. Set a list with range 1 to 5.

In [0]:
list(range(1,6))

[1, 2, 3, 4, 5]

5. Write a for loop for multiples of 3 where N is not less than and equal to 30.

In [0]:
for N in range(3,31,3):
    print(N)

3
6
9
12
15
18
21
24
27
30

6. Find the sum of number 1 to 5.

In [0]:
total = 0
for N in range(1,6):
    total += N
print(total)

15

7. Write a for loop that iterates over the `places` list to create a `new_places` list that replace the space with hyphen and in the first letter in capital letter.
`places = ["kamigyo ku","nakagyo ku", "sakyo ku"]`
It should create a list
`new_places = ["Kamigyo-ku","Nakagyo-ku", "Sakyo-ku"]`

In [0]:
places = ["kamigyo ku","nakagyo ku", "sakyo ku"]
new_places = []

for place in places:
    new_places.append(place.capitalize().replace(" ","-"))
print(new_places)

['Kamigyo-ku', 'Nakagyo-ku', 'Sakyo-ku']

In [0]:
new_places = ["kamigyo ku","nakagyo ku", "sakyo ku"]

for i in range(len(new_places)):
    new_places[i] = new_places[i].capitalize().replace(" ", "-")
print(new_places)

['Kamigyo-ku', 'Nakagyo-ku', 'Sakyo-ku']

8. Calculate the total amount of fruits in the baskets. Given a dictionary of `basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}` and list `fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']`.

In [0]:
total = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

for object, calculate in basket_items.items():
    if object in fruits:
        total += calculate

print("There are {} fruits in the basket.".format(total))

There are 23 fruits in the basket.

9. Calculate how many items are not fruits in the basket.

In [0]:
total = 0
for object, calculate in basket_items.items():
    if object not in fruits:
        total += calculate

print("There are {} of other items in the basket.".format(total))

There are 11 of other items in the basket.