<a href="https://colab.research.google.com/github/FairozaAmira/AI_Programming_1_e/blob/master/Lesson11/Solutions_for_String_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solutions for String Manipulation Exercises

**Question 1**

Try this code, and see whether both of them are the same or not.
`a = 'kcgi'`
`b = "kcgi"`
`a == b `

Is it True or False?

In [0]:
a = 'kcgi'
b = "kcgi"
a == b

True

**Question 2**

Try to write a string with triple-quote syntax and is it can be displayed when we called out the variable?

In [0]:
multi_line = """a
b
c"""

print(multi_line)

a
b
c

**Question 3**

Let's try to adjust the case for this string.

`the Kyoto College of Graduate studies for informatics`

1) Turn to all capital letters by using `.upper()`

2) Turn to all small letters by using `.lower()`

3) Capitalize each words of the string by using `.title()`

4) Capitalize the first letter of the string by using `.capitalize()`

5) Swap the case by using `.swapcase()`

In [0]:
kcgi = "the Kyoto College of Graduate studies for informatics"

In [0]:
kcgi.upper()

'THE KYOTO COLLEGE OF GRADUATE STUDIES FOR INFORMATICS'

In [0]:
kcgi.lower()

'the kyoto college of graduate studies for informatics'

In [0]:
kcgi.title()

'The Kyoto College Of Graduate Studies For Informatics'

In [0]:
kcgi.capitalize()

'The kyoto college of graduate studies for informatics'

In [0]:
kcgi.swapcase()

'THE kYOTO cOLLEGE OF gRADUATE STUDIES FOR INFORMATICS'

**Question 4**

Use `.strip()` to remove unnecessary whitespace in the strings below.
`           kyoto computer gakuin           `

In [0]:
kcg = "           kyoto computer gakuin           "

In [0]:
kcg.strip()

'kyoto computer gakuin'

In [0]:
kcg.rstrip()

'           kyoto computer gakuin'

In [0]:
kcg.lstrip()

'kyoto computer gakuin           '

**Question 5**

What if we want to take out string '0' of the string below? How we are going to do that?

`"00000456"`

Then, we want to fill the zero back again. How to do that?

In [0]:
num = "00000456"
num.strip('0')

'456'

In [0]:
num.zfill(5)

'00000456'

**Question 6**

We can also find and replace substrings inside a string.

To find the substring, you can use `.find()`, `.rfind()` or  `.index()`, to replace a substring you can use `.replace()`

Given a string as below. 

`"the kyoto college of graduate studies for informatics"`

1. Find the `kyoto` substring by using `.find()` and `.index()`

2. Find the `university` substring by using `.find()` and `.index()`

3. Check whether `kyoto` is the first substring of the string by using `.startswith()`.

4. Check whether `informatics` is the last substring of the string by using `endswith()`

5. Replace character `e` with `--` in the string by using `.replace()`

In [0]:
kcgi = "the kyoto college of graduate studies for informatics"

In [0]:
kcgi.find("kyoto")

4

In [0]:
kcgi.index("kyoto")

4

In [0]:
kcgi.find("university")

-1

In [0]:
kcgi.index("university")

ValueError: substring not found

In [0]:
kcgi.startswith("kyoto")

False

In [0]:
kcgi.endswith("informatics")

True

In [0]:
kcgi.replace("e", "--")

'th-- kyoto coll--g-- of graduat-- studi--s for informatics'

**Question 7**

By using the same string as in *Question 6* partition the string into three parts. Use substring `graduate` as the cut-off. Use `.partition()` to do this.

Next, split the strings individually by using `.split()`

In [0]:
kcgi.partition("graduate")

('the kyoto college of ', 'graduate', ' studies for informatics')

In [0]:
kcgi.split()

['the', 'kyoto', 'college', 'of', 'graduate', 'studies', 'for', 'informatics']

**Question 8**

Try to join both of the strings below by using `.join()`

`string1 = "--"`

`string2 = ["a", "b", "c"]`

In [0]:
string1 = "--"

string2 = ["a", "b", "c"]

string1.join(string2)

'a--b--c'

**Question 9**

Change an integer to a string.

b = 3

Then, use `.format()` to write the sentence below.

`He has {b} oranges.`

In [0]:
b = 3
str(b)

print("He has {} oranges.".format(str(b)) )

He has 3 oranges.

**Question 10**

You can also use indexing to include a variable in a string.
Or determine how many decimal places would you want it to display. By using `{0:.3f}` for 3 decimal places.

1. Write the following string.
`"""First letter is {0}, second letter is {1}.""".format('A','B')`
then, change index `{0}` to `{first}` and `{1}` to `{second}`

2. Write the `pi` value in nearest 2 decimal places.
Use `from math import pi` to get the `pi` value

In [0]:
print("""First letter is {0}, second letter is {1}.""".format('A','B'))

First letter is A, second letter is B.

In [0]:
print("""First letter is {first}, second letter is {second}.""".format(first= 'A',second='B'))

First letter is A, second letter is B.

In [0]:
from math import pi
print("pi = {0: .2f}".format(pi))

pi =  3.14