<a href="https://colab.research.google.com/github/FairozaAmira/AI_Programming_1_e/blob/master/Lesson09/Functions_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solution for Defining a Function Exercises

It is necessary to return a function in order to use the value (results) from a function. 

**Question 1**

Write two functions which end with `print` and `return`.
The function is to define a sum between two numbers.
By using the two functions, add another number to the result of the function.
For example,
a = 3, b=7
the total is
a + b = 3 + 7 = 10
then, add again, 
c = 3
total = 10 + 3 = 13

See the difference between both `print` and `return` statements.

In [0]:
def total_numbers_1(a, b):
    print(a+b)

def total_numbers_2(a,b):
    return a+b

total = total_numbers_1(3,7)
print(total)
add_again = total_numbers_1(total, 3)
print(add_again)

10
None

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [0]:
total = total_numbers_2(3, 7)
print(total)
add_again = total_numbers_2(total, 3)
print(add_again)

10
13

**Question 2**

Write a function that take an integer `minutes` and return as string that shows how many hours that is.

The output of a function of this

`print(how_many_hours(215)`

is 

` 3 hour(s) and 35 minute(s)`

In [0]:
def how_many_hours(minutes):
    hours = minutes // 60
    remainder = minutes % 60
    return "{} hour(s) and {} minute(s)".format(hours, remainder)

print(how_many_hours(215))

3 hour(s) and 35 minute(s)

**Question 3**

*Lambda function*

Write a lambda and a normal function of a multiplication statement of x and y.

$multiply = x \times y$

In [0]:
multiply = lambda x, y: x * y
multiply (2,3)

6

In [0]:
def multiply(x,y):
    return x*y
print(multiply(2,3))

6

**Question 4**

Use `lambda` function to sort a dictionary given as below.
The dictionary should be sorted in alphabetical order.

`data = [{'animals': 'horse', 'age': 3},
        {'animals': 'cat', 'age': 1},
        {'animals': 'giraffe', 'age': 5}]`

Use `sorted` function to sort the dictionary above.

In [0]:
data = [{'animals': 'horse', 'age': 3},
        {'animals': 'cat', 'age': 1},
        {'animals': 'giraffe', 'age': 5}]

sorted(data, key=lambda item: item['animals'])

[{'animals': 'cat', 'age': 1},
 {'animals': 'giraffe', 'age': 5},
 {'animals': 'horse', 'age': 3}]