<a href="https://colab.research.google.com/github/FairozaAmira/AI_Programming_1_e/blob/master/Lesson07/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solution for Dictionaries Exercises

1.  Create a dictionary which contains 'english spelling' for keys and 'number' in integer as values from 1 to 10 in random orders. For example, one: 1, two: 2. Set the dictionary as variable 'numbers'.

In [0]:
numbers = {'one': 1, 'three': 3, 'seven': 7, 'two': 2, 'four': 4, 'eight': 8, 'ten': 10, 'five': 5, 'six': 6, 'nine': 9}
print(numbers)

{'one': 1, 'three': 3, 'seven': 7, 'two': 2, 'four': 4, 'eight': 8, 'ten': 10, 'five': 5, 'six': 6, 'nine': 9}

2. What is the second key of *numbers*?

In [0]:
print(numbers[1])

KeyError: 1

3. Find the number of unique keys in *numbers*.

In [0]:
num_keys = len(numbers)
print(num_keys)

10

4. Find whether 'eleven' is a key in *numbers*.

In [0]:
contains_eleven = numbers.get('eleven')
print(contains_eleven)

None

In [0]:
contains_eleven = "eleven" in numbers
print(contains_eleven)

False

5. Set a new key and value pair of 'eleven': 11

In [0]:
numbers['eleven'] = 11
print(numbers)

{'one': 1, 'three': 3, 'seven': 7, 'two': 2, 'four': 4, 'eight': 8, 'ten': 10, 'five': 5, 'six': 6, 'nine': 9, 'eleven': 11}

6. Create and sort a list of keys in *numbers*

In [0]:
sorted_keys = sorted(numbers.keys())
print(sorted_keys)

['eight', 'eleven', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two']

7. Get the first element in the sorted list of keys

In [0]:
print(sorted_keys[0])

eight

8. Find the highest value in the list of keys

In [0]:
print(sorted_keys[-1])

two

9. Create and sort a list of values in *numbers*

In [0]:
sorted_values = sorted(numbers.values())
print(sorted_values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

10. Get the first element in the sorted list of values.

In [0]:
print(sorted_values[0])

1

11. Access the value of 'nine'

In [0]:
numbers['nine']

9