<a href="https://colab.research.google.com/github/FairozaAmira/AI_Programming_1_e/blob/master/Lesson07/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solution for Sets exercises

1. Create a list with variable List_A . The list contains elements [1, 1, 2, 5, 5, 5, 8, 8, 9]. Create another list with variable List_B. The list contains elements [1, 2, 2, 3, 3, 3, 6, 10].

In [0]:
List_A = [1, 1, 2, 5, 5, 5, 8, 8, 9]
print(List_A)
List_B = [1, 2, 2, 3, 3, 3, 6, 10]
print(List_B)

[1, 1, 2, 5, 5, 5, 8, 8, 9]
[1, 2, 2, 3, 3, 3, 6, 10]

2. Create a set for both List_A and List_B.

In [0]:
List_A_set = set(List_A)
print(List_A_set)
List_B_set = set(List_B)
print(List_B_set)

{1, 2, 5, 8, 9}
{1, 2, 3, 6, 10}

3. Find a union of both sets.

In [0]:
List_A_set | List_B_set

{1, 2, 3, 5, 6, 8, 9, 10}

In [0]:
List_A_set.union(List_B_set)

{1, 2, 3, 5, 6, 8, 9, 10}

4. Find the intersection of both sets.

In [0]:
List_A_set & List_B_set

{1, 2}

In [0]:
List_A_set.intersection(List_B_set)

{1, 2}

5. Find the elements that are in List_A but not in List_B

In [0]:
List_A_set - List_B_set

{5, 8, 9}

In [0]:
List_A_set.difference(List_B_set)

{5, 8, 9}

6. Find the elements that only appears in either one set.

In [0]:
List_A_set ^ List_B_set

{3, 5, 6, 8, 9, 10}

In [0]:
List_A_set.symmetric_difference(List_B_set)

{3, 5, 6, 8, 9, 10}