<a href="https://colab.research.google.com/github/FairozaAmira/AI_Programming_1_e/blob/master/Lesson10/Iterators_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solution for Iterators

**Question 1**

Write a for loop to display number 1 to 10, by using `range`.

In [0]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**Question 2**

Write a for loop to display each number in the list below.
`[1, 2, 3, 4, 5]`

In [0]:
for number in [1, 2, 3, 4, 5]:
    print (number)

1
2
3
4
5

**Question 3**

By using `iter` function, display each number of the list above.

In [0]:
I = iter([1,2,3,4,5])
print(next(I))
print(next(I))
print(next(I))
print(next(I))
print(next(I))

1
2
3
4
5

**Question 4**

Try out this command. <br/>
`range(10)`
and this <br/>
`iter(range(10)`

In [0]:
range(10)

range(0, 10)

In [0]:
iter(range(10))

**Question 5**

Using `enumerate`, display the index and the value of the for loop for the list below. 

`L = [1,2,3,4,5]`

In [0]:
L = [1,2,3,4,5]
for index, value in enumerate(L):
    print(index, value)

0 1
1 2
2 3
3 4
4 5

In [0]:
for i in range(len(L)):
    print(i, L[i])

0 1
1 2
2 3
3 4
4 5

**Question 6**

Suppose you have two lists and you would like to display each value of the two list (side by side). How would you like to do that?

The two lists are `L1 = [1,2,3,4,5]` and `L2 = [6,7,8,9,10]`

*Hint: You may use `zip` function to use that*

In [0]:
L1 = [1,2,3,4,5]
L2 = [6,7,8,9,10]

for val_1, val_2 in zip(L1,L2):
    print(val_1,val_2)

1 6
2 7
3 8
4 9
5 10

**Question 7**

You may also use `*` to iterate.
For example, `*range(10)*

In [0]:
print(*range(10))

0 1 2 3 4 5 6 7 8 9

**Question 8**

There are also `itertools` function that has other mathematical function
for example,

```
from itertools import permutations
p = permutations(range(3))
print(*p)
```
will calculate and display the permutations of 3

In [0]:
from itertools import permutations
p = permutations(range(3))
print(*p)

(0, 1, 2) (0, 2, 1) (1, 0, 2) (1, 2, 0) (2, 0, 1) (2, 1, 0)

**Question 9**

Let's try to `zip` list to a dictionary.

Use these lists below.
```
names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
age = [16, 20, 24, 18, 30]
```

In [0]:
names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
age = [16, 20, 24, 18, 30]
people = dict(zip(names, age))
print(people)

{'Barney': 16, 'Robin': 20, 'Ted': 24, 'Lily': 18, 'Marshall': 30}

**Question 10**

Unzip the `people` tuple into two `names` and `ages`.

In [0]:
cast = (("Barney", 16), ("Robin", 20), ("Ted", 24), ("Lily", 18), ("Marshall", 30))

# define names and heights here
names, age = zip(*cast)

print(names)
print(age)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(16, 20, 24, 18, 30)